.form {
  border: 5px solid;
  border-radius: 20px;
  color: dimgray;
  width: 60%;
  margin: auto;
}

.form div {
  margin: 1rem;
}

.form label,
.form span {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(70, 70, 70);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.form button {
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: dodgerblue;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0.75rem 0.75rem;
}

.form button:hover,
.form button:active {
  color: black;
}

.form button:disabled,
.form button:disabled:hover,
.form button:disabled:active {
  background-color: rgb(150, 150, 150);
  color: black;
  border-color: rgb(150, 150, 150);
  cursor: not-allowed;
}

input[type='range'] {
  width: 80%;
}

input[type='range'] {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 0.5em;
  background: white;
  border: none;
  border-radius: 3px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: rgb(0, 128, 255);
  margin-top: -10px;
}

input[type='range']:focus {
  outline: none;
}
