.form {
  justify-content: space-around;
  border: 5px solid;
  color: dimgray;
}

.form div {
  margin: 1rem;
}

.form label {
  font-weight: bold;
  font-size: 2rem;
  color: black;
}

.form span {
  font-weight: bold;
  font-size: x-large;
  font-family: 'Orbitron';
  color: black;
}

.bottom {
  display: block;
}

input[type='range'] {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

input[type='range'] {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 0.35em;
  background: white;
  border: none;
  border-radius: 3px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: slategray;
  margin-top: -4px;
}

input[type='range']:focus {
  outline: none;
}

.form button {
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: slategray;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  margin: 1rem;
  height: 3rem;
}

.form button:hover,
.form button:active {
  background-color: lightslategray;
  color: black;
}

.form button:disabled,
.form button:disabled:hover,
.form button:disabled:active {
  background-color: rgb(150, 150, 150);
  color: black;
  border-color: rgb(150, 150, 150);
  cursor: not-allowed;
}
