.board {
  margin: auto;
  width: fit-content;
  height: fit-content;
  border: 1px solid black;
  margin-bottom: 2rem;
}

.board ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
