.button {
  font-size: large;
  font-weight: bold;
  color: white;
  background-color: dodgerblue;
  border: 1px solid black;
  border-radius: 25px;
  cursor: pointer;
  padding: 1rem;
  margin-top: 10rem;
}

.button:hover,
.button:active {
  color: black;
}
