.button {
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: slategray;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  margin-top: 15rem;
}

.button:hover,
.button:active {
  background-color: lightslategray;
  color: black;
}
