.label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  margin: 1rem 0;
  color: black;
}

.link {
  margin-left: 1rem;
  margin-right: 1rem;
  font: inherit;
  font-weight: bold;
  font-size: large;
  color: black;
  text-decoration: none;
  padding: 1rem;
  border-radius: 25px;
}

.link:hover,
.link:active {
  background-color: dodgerblue;
  color: white;
}

.button {
  margin-left: 1rem;
  margin-right: 1rem;
  font: inherit;
  font-weight: bold;
  font-size: large;
  color: black;
  background-color: lightgray;
  padding: 1rem;
  border-radius: 25px;
  border: none;
}

.button:hover,
.button:active {
  background-color: dodgerblue;
  color: white;
}
